# git add (파일명)
# git commit -m '저장날짜'
# git push -u origin master

language = "python3"
#run = "python 053_PrintString.py"
#run = "python 068_PrintInsert.py"
#run = "python 083_AverageScore.py"
#run = "python 090_PrintDay.py"
#run = "python 105_PrintPass.py"
#run = "python 113_PrintMantlines.py"
#run = "python 123_MakeTuple.py"
#run = "python 157_DelectList.py"
#run = "python 158_StringConnect.py"
#run = "python 168_Dictionary.py"
#run = "python 185_If.py"
#run = "python 195_IfPass.py"
#run = "python 202_Elif.py"
#run = "python 217_MultiplicationTable.py"
#run = "python 229_PrintBalance.py"
#run = "python 240_NotEndWith3.py"
#run = "python 249_MakeMountain.py"
#run = "python 259_Multiples.py"
#run = "python 311_Repeatedly.py"
#run = "python 327_MineHunt.py"
#run = "python 350_WordCount.py"
#run = "python 350_PrintSequence.py"
#run = "python 375_DelectDictionary.py"
#run = "python 395_JudgeSetIntersection.py"
#run = "python 411_JudgeFile.py"
run = "python 421_JudgePalindrome.py"